<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/timesheet.css">
    <title>{% block title %}Timesheet for {{ project.name }}{% endblock %}</title>
</head>
<body>
<div class="flex align-end between w-100">

    <h2 style="padding-left: 1rem">{{ greeting }}, {{ project.client.name }}</h2>
    <div class="flex end align-end" style="width: 50%;min-width: 400px">
        <div class="select-wrapper">
            <label for="projectSelect">Select Project</label>
            <select id="projectSelect">
                <option value="{{ project.id }}" selected>{{ project.name }}</option>
                {% for other_project in other_projects %}
                    <option value="{{ other_project.id }}">{{ other_project.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="select-wrapper">
            <label for="monthSelect">Select Month</label>
            <select id="monthSelect">
                {#                <option value="all" {% if month == 'All Time' %}selected{% endif %}>All Time</option>#}
                {% for project_month in project_months %}
                    <option value="{{ project_month|date:'Y-m' }}"
                            {% if project_month|date:'F Y' == month %}selected{% endif %}>
                        {{ project_month|date:"F Y" }}
                    </option>
                {% endfor %}
            </select>

        </div>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
</div>
<div class="container">

    <table>
        <td style="background-color: white!important;"><img src="/static/logo-transparent.png"
                                                            style="width: 200px;opacity: 0.75"></td>
        <td style="background-color: white!important;"><h1 style="margin: 0">Timesheet for {{ project.name }}</h1></td>
        <td style="background-color: white!important;"><h2 style="margin: 0">{{ month }}</h2></td>
    </table>

    <script>
        document.getElementById('monthSelect').addEventListener('change', function () {
            const selectedMonth = this.value;
            if (selectedMonth) {
                const currentPath = window.location.pathname;
                const newPath = currentPath.split('/').slice(0, -1).concat(selectedMonth).join('/');
                window.location.href = newPath;
            }
        });

        document.getElementById('projectSelect').addEventListener('change', function () {
            const selectedProject = this.value;
            if (selectedProject) {
                window.location.href = `/timesheet/${selectedProject}/current`;
            }
        });
    </script>

    <h2>Overall Hours</h2>
    <table>
        <thead>
        <tr>
            <th>Hours For Period</th>
            <th>Total Time Spent</th>
            <th>Project Budget</th>
            <th>Remaining Hours</th>
        </tr>
        </thead>
        <tr>
            <td class="time-col">{{ month_duration }}</td>
            <td class="time-col">{{ total_duration }}</td>
            <td class="time-col">{{ total_budget }}</td>
            <td class="time-col">{{ remaining_hours }}</td>
        </tr>
    </table>
    <hr>
    {% if project.eraser_embed %}

        <h2>Progress Diagram</h2>
        <img style="width: 100%; cursor: pointer;" src="{{ project.eraser_embed }}" alt="Clickable image"
             onclick="openModal(this.src)">

        <div id="imageModal" class="modal">
            <span class="close" onclick="closeModal()">&times;</span>
            <img class="modal-content" id="modalImage">
        </div>

        <script>
            function openModal(imgSrc) {
                var modal = document.getElementById("imageModal");
                var modalImg = document.getElementById("modalImage");
                modal.style.display = "flex";
                modalImg.src = imgSrc;
            }

            function closeModal() {
                var modal = document.getElementById("imageModal");
                modal.style.display = "none";
            }

            window.onclick = function (event) {
                var modal = document.getElementById("imageModal");
                if (event.target == modal) {
                    closeModal();
                }
            }

            document.addEventListener('keydown', function (event) {
                if (event.key === "Escape") {
                    closeModal();
                }
            });
        </script>
        <hr>

    {% endif %}

    <h2>Detailed Timesheet</h2>

    {% for date, day_data in event_blocks_by_date.items %}
        <div class="date-header">{{ date|date:"l, F d, Y" }}</div>
        <table>
            <thead>
            <tr>
                <th class="duration-col">Duration</th>
                <th class="summary-col">Summary</th>
            </tr>
            </thead>
            <tbody>
            {% for event in day_data.events %}
                <tr>
                    <td class="duration-col">
                        {{ event.duration }}
                    </td>
                    <td class="summary-col">
                        <ul style="padding: 1rem">
                            {% for item in event.summary %}
                                {% if item %}
                                    <li>{{ item }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            <tr class="total-row">
                <td class="time-col">Daily Total</td>
                <td class="duration-col">{{ day_data.total_duration }}</td>
            </tr>
            </tbody>
        </table>
    {% empty %}
        <p>No event blocks available.</p>
    {% endfor %}
</div>
</body>
</html>